.App {
  align-items: center;
  background-color: #0A0B0D;
  color: #FFFFFF;
  display: flex;
  font-family: "Helvetica New", Helvetica, sans-serif;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 100%;
}

.Button {
  background: #0577CA;
  border-radius: 5px;
  color: #0A0B0D;
  font-size: 18px;
  font-weight: bold;
  left: 0;
  line-height: 49px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  right: 0;
  text-align: center;
  width: 321px;
}

.Button,
a:link,
a:visited {
  text-decoration: none;
}

.Button-container {
  position: relative;
}

.App-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 81px);
  justify-content: center;
}

.App-header {
  align-items: center;
  background: #0A0B0D;
  display: flex;
  height: 60px;
  position: absolute;
  top: 0px;
  width: 100%;
}
